.App {
  text-align: center;
}
h1{
  margin: 0 auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper {
  background: #DAB88B;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the wrapper to occupy the full viewport height */
}

.container {
  max-width: 1500px;
  margin: 0px 10%;
  padding: 0 20px;
  flex: 1; /* Allow the container to expand and fill available space */
  display: grid;
  grid-template-rows: auto 1fr auto; /* auto for header, 1fr for body, auto for footer */
}

.body {
  max-height: 800px; /* Set the default height for the body */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds 800px */
  width: 100%;
}

.footer {
  background-color: #282c34; /* Add a background color for the footer */
  color: white;
  text-align: center;
}
